name: Electron Test Release Build (pnpm)

on:
  push:
    tags:
      - '*'
env:
  TAG: ${{ github.ref_name }}

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build release artifacts with Docker Bake
        uses: docker/bake-action@v6
        with:
          files: docker-compose.yml
          targets: builder

      - name: Check release dir
        run: ls -al release

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-linux
          path: release/**/*.deb

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
          files: artifacts/**/**/*.deb
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
